<h1>labels index</h1>
<div id='labels-index-container'>
  {{#link-to 'labels.new'}}New{{/link-to}}
  <ul id='label-list'>
    {{#each model as |label|}}
    {{#link-to 'labels.label' label.id}}
    <li class='label-index-item'>
      <p>{{label.name}}</p>
    </li>
    {{/link-to}}
    {{/each}}
  </ul>
  {{outlet}}
</div>
